<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- These meta tags come first. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bootstrap Theme Example</title>

    <!-- Include the CSS -->
    <link href="dist/toolkit.min.css" rel="stylesheet">

  </head>
  <body>
   


      <div class="row">
        </div>
    </div>



<div class="block-secondary app-high-praise p-b-0">
  <div class="container">
    <div class="row app-align-center">
      <div class="col-sm-5 col-sm-push-7">
        <h6 class="text-muted text-uppercase">High Praise</h6>
        <h3 class="m-t-0 m-b-md">“Parto.org es una herramienta gratuita para empoderar, brindar apoyo y enseñanza a las comadronas en el interior del país."</h3>
        <p class="m-b-md text-muted">Dr. Emilio Pérez, PHD</p>
        <button class="btn btn-primary btn-lg">Try it now</button>
      </div>
      <div class="col-sm-6 col-sm-pull-5">
        <img src="http://www.elmendolotudo.com.ar/wp-content/uploads/portrait_of_a_senior_doctor_writing_reports_isolated_on_white_background_w640.jpeg?dd8ef2">

      </div>
    </div>
  </div>
</div>

<div class="app-ribbon p-y-lg">
  <div class="container text-center">
    <img src="assets/startup-4.svg">
    <img src="assets/startup-5.svg">
    <img src="assets/startup-6.svg">
    <img src="assets/startup-7.svg">
    <img src="assets/startup-8.svg">
  </div>
</div>

<div class="block-secondary app-block-marketing-grid">
  <div class="container text-center">

    <div class="row m-b-lg">
      <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
        <h6 class="text-muted text-uppercase">Inside the machine</h6>
        <h3  class="m-t-0 m-b">It’s not hard to see how we make your life easier every day.</h3>
      </div>
    </div>

    <div class="row app-marketing-grid">
      <div class="col-sm-4 p-x-md m-b-lg">
        <img class="m-b" src="assets/startup-9.svg">
        <p><strong>24/7 support.</strong> We’re always here for you no matter what time of day.</p>
      </div>
      <div class="col-sm-4 p-x-md m-b-lg">
        <img class="m-b" src="assets/startup-10.svg">
        <p><strong>E-commerce.</strong> We automatically handle all sales analytics.</p>
      </div>
      <div class="col-sm-4 p-x-md m-b-lg">
        <img class="m-b" src="assets/startup-11.svg">
        <p><strong>Turnaround.</strong> Our data analysis is distributed, so it processes in seconds.</p>
      </div>
    </div>

    <div class="row app-marketing-grid">
      <div class="col-sm-4 p-x-md m-b-lg">
        <img class="m-b" src="assets/startup-12.svg">
        <p><strong>Rich calculations.</strong> Limitless ways to splice and dice your data.</p>
      </div>
      <div class="col-sm-4 p-x-md m-b-lg">
        <img class="m-b" src="assets/startup-13.svg">
        <p><strong>Mobile apps.</strong> iOS and Android apps available for monitoring.</p>
      </div>
      <div class="col-sm-4 p-x-md m-b-lg">
        <img class="m-b" src="assets/startup-14.svg">
        <p><strong>Secure connections.</strong> Every single request is routed through HTTPS.</p>
      </div>
    </div>
  </div>
</div>

<div class="app-price-plans">
  <div class="container text-center">

    <div class="row m-b-lg">
      <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
        <h6 class="text-muted text-uppercase">Business Talk</h6>
        <h3  class="m-t-0">No plans. We just bump your plan whenever you need it.</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 p-x m-b-lg">
        <div class="p-x">
          <h6 class="text-muted text-uppercase m-b">Personal</h6>
          <img class="m-b" src="assets/startup-15.svg">
          <p>Plenty of processing power for any personal projects, big or small.</p>
        </div>

        <ul class="list-unstyled list-bordered text-left m-y-md">
          <li class="p-y"><strong>10k</strong> monthly requests</li>
          <li class="p-y"><strong>9am-5pm</strong> technical supprt</li>
          <li class="p-y"><strong>Public</strong> API access</li>
        </ul>

        <button class="btn btn-lg btn-primary btn-block">
          Start <span class="visible-lg-inline">a personal account</span>
        </button>
      </div>

      <div class="col-sm-4 p-x m-b-lg">
        <div class="p-x">
          <h6 class="text-muted text-uppercase m-b">Business</h6>
          <img class="m-b" src="assets/startup-16.svg">
          <p>The perfect sized plan for small businesses to get started.</p>
        </div>

        <ul class="list-unstyled list-bordered text-left m-y-md">
          <li class="p-y"><strong>100k</strong> monthly requests</li>
          <li class="p-y"><strong>24/7</strong> technical supprt</li>
          <li class="p-y"><strong>Public</strong> API access</li>
        </ul>

        <button class="btn btn-lg btn-primary btn-block">
          Start <span class="visible-lg-inline">a business account</span>
        </button>
      </div>

      <div class="col-sm-4 p-x m-b-lg">
        <div class="p-x">
          <h6 class="text-muted text-uppercase m-b">Corporate</h6>
          <img class="m-b" src="assets/startup-17.svg">
          <p>An unlimited plan that will scale infinitely to any size project.</p>
        </div>

        <ul class="list-unstyled list-bordered text-left m-y-md">
          <li class="p-y"><strong>Unlimited</strong> monthly requests</li>
          <li class="p-y"><strong>24/7</strong> technical supprt</li>
          <li class="p-y"><strong>Public & Private</strong> API access</li>
        </ul>

        <button class="btn btn-lg btn-primary btn-block">
          Start <span class="visible-lg-inline">a corporate account</span>
        </button>
      </div>
    </div>

  </div>
</div>



<div class="block block-inverse app-footer">
 <div class="container">
    <div class="row">
      <div class="col-sm-5 m-b-md">
        <ul class="list-unstyled list-spaced">
          <li class="m-b"><h6 class="text-uppercase">About</h6></li>
          <li class="text-muted">
           We’ve been working on Go Analytics for the better part of a decade and are super proud of what we’ve created. If you’d like to learn more, or are interested in a job, contact us anytime at <a href="mailto: themes@getbootstrap.com">themes@getbootstrap.com</a>.
          </li>
        </ul>
      </div>
      <div class="col-sm-2 col-sm-offset-1 m-b-md">
        <ul class="list-unstyled list-spaced">
          <li class="m-b"><h6 class="text-uppercase">Product</h6></li>
          <li class="text-muted">Features</li>
          <li class="text-muted">Examples</li>
          <li class="text-muted">Tour</li>
          <li class="text-muted">Gallery</li>
        </ul>
      </div>
      <div class="col-sm-2 m-b-md">
        <ul class="list-unstyled list-spaced">
          <li class="m-b"><h6 class="text-uppercase">Apis</h6></li>
          <li class="text-muted">Rich data</li>
          <li class="text-muted">Simple data</li>
          <li class="text-muted">Real time</li>
          <li class="text-muted">Social</li>
        </ul>
      </div>
      <div class="col-sm-2 m-b-md">
        <ul class="list-unstyled list-spaced">
          <li class="m-b"><h6 class="text-uppercase">Legal</h6></li>
          <li class="text-muted">Terms</li>
          <li class="text-muted">Legal</li>
          <li class="text-muted">Privacy</li>
          <li class="text-muted">License</li>
        </ul>
      </div>
    </div>
  </div>
</div>

</div>





  </body>
</html>